header {
	background-color: black;
	display: block;
	overflow: hidden;
	color: white;
	display: flex;
	justify-content: center;
	font-size: 2em;
}
.container2 {
    display: flex;
}

#uv {
	background-color: darkred;
	color: white;
}
.five-container {
	display: flex;
	flex-direction: row;;
	position: relative;
	flex-wrap: wrap;
    
}
.day1, .day2, .day3, .day4, .day5 {
	display: flex;
	flex-direction: column;	flex-direction: column;
    padding-top:25px;
	background-color: #007bff;
	color: white;
	height: 170px;
	width: 150px;
	margin: 10px;
	padding: 10px;
	padding-top: 20px;
 
  border-radius: 5px;
}

p {
	border: 1px white;
}
#search-city-side {
    background: whitesmoke;
    padding: 10px;
    border-radius: 5px;

}
li {
	list-style-type: none;
}




#uvi {
	display: flex;
	flex-direction: row;
	font-size: 1.5em;
}

#footer {
	background-color: lightgray;
	height: 25px;
	width: 100%;
	text-align: center;
}